/*<i class="fa-brands fa-instagram"></i>
      <i class="fa-regular fa-envelope"></i>
      <i class="fa-brands fa-x-twitter"></i>
      <i class="fa-brands fa-github"></i>
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/
body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 96px;
}

p {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

.hero {
  text-align: center;
  background: #f8d8f8;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  line-height: 1.7;
  font-size: 24px;
  font-weight: bold;
}

.btn-branding {
  color: white;
  background-color: #6c63ff;
  padding: 15px 30px;
  line-height: 27px;
  font-size: 18px;
  border-radius: 4px;

}